<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>PDF Download</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<META http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv = "content-script-type" content = "text/javascript"/>
	</head>
	<body class="w3-row">
		<div class="wrapper2">
			<div class="header">
				<font class = "fc">Ruby</font> 
				<font class = "fd">Email PDF</font>
					<div class="dropdown">
						<button class="dropbtn"><img class="header-img"src="<%= asset_path('guest.png' ) %>"/><a href = "/users/edit"><p id="user"><%= current_user.name %></p></a></button>
							<div class="dropdown-content">
								<%= link_to '#', :onclick =>'goBack()' do %>
									<%= image_tag('back.jpg', class: "loghistory-img") %><pre id="log-his">Back</pre>
								<% end %>
								<%= link_to 'index' do %>
									<%= image_tag('home.png', class: "loghistory-img") %><pre id="log-his">Home</pre>
								<% end %>
								<%= link_to 'logout' do %>
									<%= image_tag('logout.jpg', class: "loghistory-img") %><pre id="log-his">Logout</pre>
								<% end %>
							</div>
					</div>
			</div>
		<form id="form" action = "/mail/mail_pdf/?">
			<div class = "container">	
				<center>
					<labeL id ="maillabel"><b>TO:</b></labeL><br> <input id="mail" type="email" id="mail" placeholder="Enter email" name = "to"></br></br>
					<label id="namelabel"><b>CC:</b></label><br> <input id="mail" type="email" id="mail" placeholder="Enter email" name = "cc" ></br></br>
					<label id="subjectlabel"><b>BCC:</b></label><br> <input id="mail" type="email" id="mail" placeholder="Enter email" name = "bcc"></br></br>
					<label id="messagelabel"><b>MESSAGE:</b></label><br> <textarea  rows="2" cols="83" placeholder="enter message" name="message"></textarea></br></br>
					<label id="attachment"><b>ATTACHMENT:</b></label><br> <input id="mail" type="text" id="attach" name = "attachment" value="<%= @program.program_name + "history.pdf" %>" required ></br></br>
					<a href="#"><button onclick="goBack()">cancel</button></a> &nbsp;<button type="submit">Submit</button>	
				</center>
			</div>
		</form>
		<div id="myModal" class="modal">
		<div class="modal-content">
			<%= form_for :user, url: update_user_path,  method: "post", class:"modal-content animate" do |f| %>
				<center><h>User Profile</h></center>
				 Name:<%= f.text_field(:username) %><br/><br/>
				 Email:<%= f.text_field(:email, :readonly => true) %><br/><br/>
				<label>Address</label><br><%= f.text_area(:address, :id =>"address") %>
				<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
				<script  src="/AssetController/assets/file?type = maps.js"></script>
				<%= javascript_include_tag('maps.js') %>
				<div id="mapCanvas"></div>
					<div id="infoPanel">
						<div id="markerStatus"></div>
					</div>
				<textarea  placeholder="latlang" style = "display:none" readonly  id = "info" name="latitude"></textarea>
				<button type="submit">Update</button> <button type="button" onclick="document.getElementById('myModal').style.display='none';">Cancel</button>
			<% end %>
		</div>
</div> 
	
		<div class="footer">
			<p id="top">Ananth Kumar  Copyright©2017</p>
			<br>
			<p id="move"></p>
				<div class="move-right">
					<div id="move-top">
						<%= link_to image_tag("facebook.png", size: "30x30"), "https://www.facebook.com/cananthkumar", target: :_blank %>
						<%= link_to image_tag("googleplus.png", size: "30x30"), "https://plus.google.com/u/0/", target: :_blank %>
						<%= link_to image_tag("linkendin.png", size: "30x30"), "https://www.linkedin.com/feed/", target: :_blank %>
					</div>
				</div>
		</div>
	</div>	
</body>
</html>
