<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<META http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv = "content-script-type" content = "text/javascript"/>
		<script src="https://cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
	</head>		
  <body>
	  <div class="wrapper">
			<div class="header">
				<font class = "fc">Ruby</font>
				<font class = "fd">UPDATE PROGRAMS</font>
				<div class="dropdown">
					<button class="dropbtn"><img class="header-img" src="<%= asset_path('guest.png' ) %>"/><a href = "/users/edit"><p id="user"><%= current_user.name %></p></a></button>
					<div class="dropdown-content">
						<%= link_to '#', :onclick =>'goBack()' do %>
							<%= image_tag('back.jpg', class: "loghistory-img") %><pre id="log-his">Back</pre>
						<% end %>
						<%= link_to "index" do %>
							<%= image_tag('home.png', class: "loghistory-img") %><pre id="log-his">Home</pre>
						<% end %>
						<%= link_to "contact_us" do %>
							<%= image_tag('contact.png', class: "loghistory-img") %><pre id="log-his">Contact</pre>
						<% end %>
						<%= link_to "logout" do %>
							<%= image_tag('logout.jpg', class: "loghistory-img") %><pre id="log-his">Logout</pre>
						<% end %>
					</div>
				</div>
			 </div>
		<div class="container">
		<%= form_tag("/update", method: "post") do %>
			<center>
			<pre id = "label4">Program Name:</pre>
			<input id="add1" type="add" name="name" value="<%= @program.program_name %>" ><br/><br/>
			<pre id = "label4">Program Description:</pre>
			<%= text_area_tag(:description, "#{@program.program_description}", placeholder: 'please enter the description') %><br/></br>
			<pre id = "label4">Program Code:</pre>
			<%= text_area_tag(:code, "#{@code}") %><br/></br>
			<script>
					CKEDITOR.replace( 'description' );
					CKEDITOR.replace( 'code' );
									
			</script>
			<button id="button" type="submit" onload="showMessage()">Submit</button>
			
			</center>
		
		<% end %>
		</div>
		<div id="myModal" class="modal">
		<div class="modal-content">
			<%= form_for :user, url: update_user_path,  method: "post", class:"modal-content animate" do |f| %>
				<center><h>User Profile</h></center>
				 Name:<%= f.text_field(:username) %><br/><br/>
				 Email:<%= f.text_field(:email, :readonly => true) %><br/><br/>
				<label>Address</label><br><%= f.text_area(:address, :id =>"address") %>
				<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
				<%= javascript_include_tag('maps.js') %>
				<div id="mapCanvas"></div>
					<div id="infoPanel">
						<div id="markerStatus"></div>
					</div>
				<textarea  placeholder="latlang" style = "display:none" readonly  id = "info" name="latitude"></textarea>
				<button type="submit">Update</button> <button type="button" onclick="document.getElementById('myModal').style.display='none';">Cancel</button>
			<% end %>
		</div>
</div> 

	<div class="footer">
			<p id="top">Ananth Kumar  Copyright©2017</p>
			<br>
			<p id="move"></p>
				<div class="move-right">
					<div id="move-top">
						<%= link_to image_tag("facebook.png", size: "30x30"), "https://www.facebook.com/cananthkumar", target: :_blank %>
						<%= link_to image_tag("googleplus.png", size: "30x30"), "https://plus.google.com/u/0/", target: :_blank %>
						<%= link_to image_tag("linkendin.png", size: "30x30"), "https://www.linkedin.com/feed/", target: :_blank %>
					</div>
				</div>
		</div>
	</div>	
  </body>
</html>
